* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin-top: 1em;
	margin-bottom: 6em;
	cursor: default;
}

#Clipboard {
	position: fixed;
	bottom: 0;
	color: transparent;
	border: 0px;
}

#Background {
	position: fixed;
	z-index: -1;
	left: 0;
	top: 0;
}

#Greeting {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #0007;
}

.GreetingA {
	display: block;
	color: #0007;
	text-decoration: none;
	margin-bottom: 0.5em;
}

#InputBG {
	position: fixed;
	z-index: 2;
	height: 4em;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
}

#Input {
	position: fixed;
	z-index: 3;
	bottom: 2em;
	left: 4em;
	right: 1em;
	border-color: transparent;
	outline-color: transparent;
	background-color: transparent;
}

#InputOverlay {
	z-index: 4;
}

#OverlayGood {
	-webkit-text-fill-color: transparent;
}

#OverlayError {
	-webkit-text-fill-color: #f44;
}

#OverlayAutocomplete {
	-webkit-text-fill-color: #999;
}

.LogEntry {
	width: 100%;
	margin-bottom: 1.5em;
}

.LogMargin {
	display: inline-block;
	height: 100%;
	width: 4em;
	vertical-align: top;
	text-align: right;
	padding-right: 0.5em;
}

.LogBody {
	display: inline-block;
	margin-right: -9999em;
}

.LogWait {
	vertical-align: top;
}

.LogInput {
	margin-bottom: 0.75em;
	width: fit-content;
	cursor: pointer;
}

.LogEval {
	position: relative;
	margin-bottom: 0.25em;
	cursor: pointer;
}

.LogError {
	margin-bottom: 0.25em;
	color: red;
}

.LogErrorTriange {
	position: absolute;
	left: -1.25em;
	top: 0.25em;
	font-size: 0.7em;
	/* left: -1em;
	top: 0; */
	color: red;
	font-weight: bold;
}




/* .blinking {
	animation: blinkingText 1s infinite;
}

@keyframes blinkingText {
	0%   { color: #000; }
	49%  { color: #000; }
	50%  { color: transparent; }
	100% { color: transparent; }
} */

/* .rotator {
	display: inline-block;
	animation: rotator 1s infinite;
}

@keyframes rotator {
	0%   { rotate: 0deg; }
	25%  { rotate: 90deg; }
	50%  { rotate: 180deg; }
	75%  { rotate: 270deg; }
	100% { rotate: 360deg; }
}
 */

/* .spinner1 {
	position: absolute;
	animation: spinner1 1s infinite;
}

@keyframes spinner1 {
	0%   { color: #000; }
	25%  { color: transparent; }
	75%  { color: transparent; }
	100% { color: #000; }
}

.spinner2 {
	position: absolute;
	animation: spinner2 1s infinite;
}

@keyframes spinner2 {
	0%   { color: transparent; }
	25%  { color: #000; }
	50%  { color: transparent; }
	100% { color: transparent; }
}

.spinner3 {
	position: absolute;
	animation: spinner3 1s infinite;
}

@keyframes spinner3 {
	0%   { color: transparent; }
	25%  { color: transparent; }
	50%  { color: #000; }
	75%  { color: transparent; }
	100% { color: transparent; }
}

.spinner4 {
	position: absolute;
	animation: spinner4 1s infinite;
}

@keyframes spinner4 {
	0%   { color: transparent; }
	50%  { color: transparent; }
	75%  { color: #000; }
	100% { color: transparent; }
} */
